Repository rice-comp413-blue/places.io, pull requests merged in 2019-11, with the labels that each got.

#62 Create install/setup scripts and command abstractions for AWS/ECS cli
  .gitignore
  README.md
  package-lock.json
  package.json
  scripts/aws/ecs/config
  scripts/aws/ecs/create
  scripts/aws/ecs/deploy
  scripts/aws/ecs/newkey
  scripts/aws/ecs/view
  scripts/aws/setup
Labels: infrastructure

#130 Fixing 0 index error bug
  geoproxy/main.go
Labels: proxy

#133 Geoproxy/count endpoint
  geoproxy/main.go
Labels: proxy

#151 Changed code so that we only route to single server on view requests
  geoproxy/main.go
Labels: proxy

#152 Client: Clean up and prep for deployment to gh-pages
  client/package-lock.json
  client/package.json
  client/src/App.css
  client/src/MainApp/MainApp.js
  client/src/MapView/MapView.js
  client/src/Sidebar/Feed/Feed.js
  server/package-lock.json
Labels: client
